/*Estilos para los botones*/
.icon {
  width: 50px;
  height: auto;
}

.icons-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.icon-button {
  width: 35px;
  height: auto;
  cursor: pointer;
  margin-right: 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%);
}

.icon-button:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

