/*Estilos para el contenido del contenedor de post*/
.comments-section {
  margin-top: 20px;
  background-color: #d0ebcc;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #ddd;
}

.comments-section h3 {
  font-size: 1.4rem;
  color: #000000;
  margin-bottom: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.comment {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
}

.comment p {
  font-size: 0.95rem;
  color: #333;
}

.comment strong {
  color: #a6db9c;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}



